<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-content">
            <div class="ui-g-12">
                <div class="ui-g-12 text-center">
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <img height="100px" src="assets/images/logos/logo.png">
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                </div>

                <div class="ui-g-12 ">
                    <label>The signed document is sent to the requester. Thank you for using Pistaceo Sign.</label>
                </div>
            </div>
        </div>
    </div>
</div>