<div class="layout-topbar">

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="material-icons">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="material-icons">&#xE853;</i>
    </a>
    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown toppadd" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}" (click)="app.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}" (click)="app.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                    <img src="assets/images/userImage.png"/>
                    </span>
                    <span class="topbar-item-name profile-name">{{currentUser.fulName}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a (click)="settings()" class="pointer">
                            <i class="material-icons">settings_application</i>
                            <span>{{'Settings' | translate }}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a (click)="userHistory()" class="pointer">
                            <i class="material-icons">history</i>
                            <span>{{'User History' | translate }}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a (click)="logOutUser()" class="pointer">
                            <i class="material-icons">exit_to_app</i>
                            <span>{{'Logout' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="search-item toggleWidth">
                <!-- <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad">
                        <div class=" ui-g-12 ui-lg-4 ui-sm-4">
                            <p-inputSwitch [(ngModel)]="switchChecked" (onChange)="toggle($event)"></p-inputSwitch>
                        </div>
                        <div class=" ui-g-12 ui-lg-8 ui-sm-8">
                            <label>  {{toggleValue}}  </label>
                        </div>

                    </div>
                </div> -->
                <p-inputSwitch [(ngModel)]="switchChecked" (onChange)="toggle($event)"></p-inputSwitch> &nbsp;&nbsp;&nbsp;
                <label>  {{placeholderText | translate }}  </label>
            </li>
            <li class="search-item">
                <span class="md-inputfield">
                                <button pButton type="button" icon="ui-icon-youtube-searched-for" (click)="advancedSearchclicked()" tooltipPosition="top" pTooltip="{{'Advanced Search' | translate}}"  class="orange-btn" ></button>
                    </span>
            </li>
            <li class="search-item listSearchWidth">
                <form [formGroup]="searchForm" (ngSubmit)="searchFormSubmit(searchForm)">
                    <div class="ui-g ui-g-12 ui-g-nopad">
                        <div class="ui-g-10 ui-g-nopad">
                            <span class="md-inputfield search-item">
                                <!-- searchCss -->
                                <input type="text" pInputText formControlName="searchtext" />
                                <label style="">{{ 'Search' | translate}} </label>
                                <i class="topbar-icon material-icons pointer searchIcon" (click)="searchForm.reset()">clear</i>
                        <!-- <i class="topbar-icon material-icons pointer searchIcon"   (click)="searchFormSubmit(searchForm)">search</i> -->
                            </span>
                        </div>
                        <div class="ui-g-2 ui-g-nopad">
                            <button type="button" (click)="searchFormSubmit(searchForm)" style="margin-left: 5px; width: 36.5px" tooltipPosition="top" pTooltip="{{'Search' | translate}}" pButton class="green-btn" icon="ui-icon-search"></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>