<div (click)="onWrapperClick()">
    <div class="layout-main">
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>
</div>