<div class="layout-wrapper layout-rtl size " (click)="onWrapperClick()" [ngClass]="{'layout-wrapper-static': layoutStatic,
    'layout-wrapper-active': mobileMenuActive,
    'layout-rtl': 'rtl'}">
    <app-menu-items [sideMenuItems]="pageValues" (pageChanged)="pageChangedEvent($event)" [disblePage]="showSignTab" (submitted)="submitClicked($event)"></app-menu-items>
    <div [class]="isMobileYup === false ? 'ui-g-10 ui-g-nopad text-right' : 'ui-g-12 ui-g-nopad text-right'">
        <div class="ui-g-12 ui-g-nopad">
            <app-document-annotation [docId]="docid" [activityId]="roleid" [documentType]="docType" [currentPage]="AnnotationCurrentPage" [annotationType]="'COMMENT'" [viewType]="'document'" (pageChangeEmit)="pageChangeEmitted($event)" [showPropBack]="'true'" [timeStamp]="timestamp"
                (clickedOnPlaceholderEvent)="showSignPop($event)"></app-document-annotation>
            <br>
            <div class="ui-g-12 ui-g-nopad" *ngIf="isMobileYup">
                <h4 class="margin_0" *ngIf="pageValues">Page List</h4>
                <div class="ui-g-12 ui-g-nopad left">
                    <div class="ui-g-12 ui-g-nopad" *ngFor="let value of pageValues" class="top background" style="display: inline-block">
                        <span class="amtClass top">
                                        <div class="ui-g-12 ui-g-nopad nameDisplay "><div class="ui-g-12 ui-g-nopad "><u (click)="pageChanged(value)">Page {{value.pageno}}</u></div></div>
                            </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-g-nopad subBut center">
                    <button type="button" pButton label="Submit" icon="ui-icon-save" [disabled]="disableSubmitbut" (click)="submittedValue()" class="ui-button-success" [disabled]="disableSubmitbut"></button>
                </div>
                <br>
                <a class="nav-link buttonStrip" style="font-size: 10px; text-align: right; left: 0; color: #246275">
                    <span class="ff-headers footerValue pointer">{{'Copyright' | translate}} &copy; {{'HashECM 2018-20' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<ngx-smart-modal #addPad identifier="addPad" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad center">
        <div [class]="isMobileYup ? 'ui-g-2 left': 'ui-g-2 ui-g-nopad' " *ngIf="isMobileYup">
            <button pButton type="button" icon="fa-close" (click)="closeSignModal($event)"></button>
        </div>
        <div [class]="isMobileYup ? 'ui-g-4 ui-g-nopad' :  'ui-g-10 ui-g-nopad' ">
            <h3>{{ 'Sign Here' | translate }}</h3>

        </div>
        <div [class]="isMobileYup ? 'ui-g-2 ui-g-nopad': 'ui-g-2 ui-g-nopad' " *ngIf="!isMobileYup">
            <button pButton type="button" icon="fa-close" (click)="closeSignModal($event)"></button>
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <div class="ui-g-12 ui-g-nopad" *ngIf="!imageShow && !isMobileYup">
            <app-signature-pad #signatureSignAdd [canvasWidth]="460" [canvasHeight]="300" (onEndEvent)="AddSignComplete($event)"></app-signature-pad>
        </div>
        <div clss="ui-g-12 ui-g-nopad" *ngIf="isMobileYup && !imageShow">
            <app-signature-pad #signatureSignAdd [canvasWidth]="310" [canvasHeight]="210" (onEndEvent)="AddSignComplete($event)"></app-signature-pad>
        </div>
        <div class="ui-g-12 ui-g-nopad" *ngIf="imageShow && !isMobileYup">
            <img id="output_image" [src]="sanitizer.bypassSecurityTrustUrl(imgURL)" width="460" height="330" class="imageBorder">
        </div>
        <div class="ui-g-12 ui-g-nopad" *ngIf="imageShow && isMobileYup">
            <img id="output_image" [src]="sanitizer.bypassSecurityTrustUrl(imgURL)" width="310" height="200" class="imageBorder">
        </div>
    </div>
    <div class="modal-footer text-center">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">

            <div class="ui-g-6 ui-sm-12 ">
                <div class="ui-g-12 ui-g-nopad">
                    <div [class]="isMobileYup?  'ui-g-9 ui-g-nopad' : 'ui-g-12 ui-g-nopad'">
                        <button pButton type="button" class="pointer" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attach' | translate}}" class="pointer">
                    <input type="file" id="fileid" ng2FileSelect accept="image/jpeg, image/png" [uploader]="globelFileUploder"   class="upload pointer"  (change)="inputfileChanged($event)" (click)="tempObject($event)" />
                    </button>
                    </div>
                </div>
            </div>
            <div [class]="isMobileYup ? 'ui-g-6 ui-md-6 ui-sm-12  left' : 'ui-g-6 ui-md-6 ui-sm-12 ui-g-nopad center' ">
                <div class="ui-g-12 ui-sm-2"></div>
                <div class="ui-g-12 ui-sm-9 ui-g-nopad">
                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width " (click)="clearSignature();">
                            <span class="ui-button-icon-left fa fa-close"></span>
                            <span class="ui-button-text">clear</span>
                        </button>
                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width " (click)="savesignature()">
                            <span class="ui-button-icon-left fa fa-check"></span>
                            <span class="ui-button-text">Add</span>
                        </button>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ng4-loading-spinner [zIndex]="999999999999" [timeout]="99000"> </ng4-loading-spinner>