.size {
    min-height: 700px !important;
}

.imageBorder {
    border: 1px solid #000 !important;
}

.top {
    margin-top: 10px;
}

.amtClass {
    font-weight: bold !important;
    /* // margin: 3px;
    // padding: 5px;
    // border-radius: 3px;
    // display: block; */
}

.background {
    /* background: #246275 !important; */
    color: #246275 !important;
    border-radius: 3px !important;
    /* // word-break: break-word !important;
    // max-height: 36px !important;
    margin-right: 10px;
    // padding-bottom: 4px; */
    /* padding-top: 7px !important; */
    padding-right: 5px !important;
    padding-bottom: 7px;
}

.nameDisplay {
    /* // margin-top: -10px !important; */
    margin-left: 3px !important;
    padding-right: 3px !important;
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    right: 0 !important;
}