<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}" (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo center">
        <a *ngIf="previewLogo !== ''">
            <img alt="logo" [src]="previewLogo" style="width: 153px;height: 40px; padding-top: 5px;" />
        </a>
        <a *ngIf="previewLogo === ''">
            <img alt="logo" src="assets/images/logos/app-logo.png" style="width: 153px;height: 40px;padding-top: 3px; padding-left: 7px" />
        </a>
        <div class="ui-g-12 clickPage">
            <label> {{'Click page to sign' | translate }}</label>
        </div>
    </div>

    <div #layoutMenuScroller class="nano">
        <div class="nano-content sidebar-scroll-content" style="margin-right: -10px;max-height: 600px; overflow-y: auto" *ngIf="model">
            <div class="ui-g-12 ui-g-nopad" *ngFor="let value of model">
                <div class="ui-g-12 ui-g-nopad pageNor" (click)="clicked(value)" *ngIf="value.status !== 'SIGNED' && !disblePage">
                    <span>Page  {{value.pageno}}</span>
                </div>
                <div class="ui-g-12 ui-g-nopad pageNor disabled" *ngIf="disblePage">
                    <span>Page {{value.pageno}}</span>
                </div>
                <div class="ui-g-12 ui-g-nopad pageNor disabled" *ngIf="value.status === 'SIGNED'">
                    <span><i class="fa fa-check green"></i> &nbsp; Page {{value.pageno}}</span>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad subBut">
                <button type="button" pButton label="Submit" icon="ui-icon-save" (click)="submited()" class="ui-button-success" [disabled]="disableSubmitbut"></button>
            </div>
            <a class="nav-link buttonStrip" style="font-size: 10px; text-align: right; left: 0">
                <span (click)="officialWebsite()" class="ff-headers footerValue pointer">{{'Copyright' | translate}} &copy; {{'HashECM 2018-20' | translate}}</span>
            </a>
        </div>
    </div>