.footerValue {
    color: #fff !important;
    margin-left: 3.3%;
}

@media only screen and (max-width: 600px) {
    .buttonStrip {
        display: none !important;
    }
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-name {
    font-size: 21px !important;
}

.clickPage {
    color: #fff !important;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 22px;
}

.pageNor {
    text-align: center;
    background: #4C6887;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    margin-left: 15px;
    width: 90%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.subBut {
    text-align: center;
    margin-top: 10%;
}

.green {
    font-size: 20px;
    padding: 0;
    float: left;
    font-weight: bold;
    color: #fff;
}

.disabled {
    opacity: 0.6;
}