<div class="ui-g dashboard ui-g-nopad" id="myP">
    <div class="ui-g-12 ui-lg-12 messages ui-g-nopad">
        <div *ngIf="imageToShow !== '' ">
            <div class="ui-g-12" id="textAnnotation" *ngIf="textAnnotationDisplay" class="pointer">
                <div class="ui-g-12 ui-g-nopad">
                    <p-paginator #ppaginatort [rows]="1" [first]="PaginatorcurrentPage" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
                    <div class="ui-g-12 ui-g-nopad" id="myImage">
                        <img class="ui-g-12  ui-g-nopad" [src]="imageToShow" #myBounds style="border: 2px solid;">
                    </div>
                    <div *ngFor="let block of blocks">
                        <div *ngIf="block.type ==='TEXT'">
                            <div *ngIf="block.page === currentPage" ngDraggable class="drag-block" [position]="{x: block.pageWidthX, y: block.pageHeightY}" (stopped)="onStop($event , block.id)" (movingOffset)="onMoving($event)" [preventDefaultEvent]="false" (endOffset)="onMoveEnd($event,  block.id)"
                                [bounds]="myBounds" [inBounds]="inBounds">
                                <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                    <div class="ng-sticky-item-header">
                                        <button pButton type="button" icon="fa-close" (click)="removeAnnotation(block.id)"></button>
                                    </div>
                                    <div class="ng-sticky-item-content">
                                        <p class="ng-hide">
                                            <textarea [name]="block.id" placeholder="Enter comment" [id]="block.id" cols="30" rows="4" [value]="block.text" (input)="annotationText($event , block.id )"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="block.type ==='SIGN'">
                            <div *ngIf="block.page === currentPage" ngDraggable class="drag-block" [position]="{x: block.pageWidthX, y: block.pageHeightY}" (stopped)="onStop($event , block.id)" (movingOffset)="onMoving($event)" [preventDefaultEvent]="false" (endOffset)="onMoveEnd($event,  block.id)"
                                [bounds]="myBounds" [inBounds]="inBounds">
                                <div class="ui-g-12 ui-g-nopad" style="background: rgb(244, 244, 14);height: 75px; padding: 0; width: 120px">
                                    <button pButton type="button" class="removeSignPlace" icon="fa-close" (click)="removeAnnotation(block.id)"></button>
                                    <textarea class="placeholder" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="block.text" readonly></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div *ngFor="let block of allSavedAnnotaion">
                        <div *ngIf="userSelected === '' && statusSelected === '' ">
                            <div *ngIf="block.pageNo === currentPage" ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                <div class="row" *ngIf="block.type === 'COMMENT'">
                                    <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                        <div class="ng-sticky-item-header">
                                            <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                            <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                        </div>
                                        <br>
                                        <div class="ng-sticky-item-content">
                                            <p class="ng-hide">
                                                <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                            </p>
                                        </div>
                                        <div class="ng-sticky-item-footer">
                                            <p>
                                                -{{block.userName}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="block.type === 'SIGN'" (click)="clickedOnPlaceholder(block)">
                                    <div class="ui-g-12 ui-g-nopad" style="background: rgb(244, 244, 14);height: 50px; padding: 0;">
                                        <textarea class="placeholder" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="'Sign Here'" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="userSelected !== ''  && statusSelected === '' ">
                            <div *ngIf="block.userName === userSelected || block.status === statusSelected">
                                <div>
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="statusSelected !== '' &&  userSelected === '' ">
                            <div *ngIf="block.userName === userSelected || block.status === statusSelected">
                                <div>
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="userSelected !== '' && statusSelected !== '' ">
                            <div *ngIf="block.userName === userSelected ">
                                <div *ngIf="block.status === statusSelected">
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12  ui-g-nopad">
                <p-paginator #ppaginatorth [rows]="1" [first]="PaginatorcurrentPage" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #annotationModelList identifier="annotationModelList">
    <h3>{{ 'Annotation list' | translate }}</h3>
    <div class="dashboard" style="max-height: 450px;overflow-y: auto">
        <div class="global-sales">
            <table class="ui-g-12">
                <thead>
                    <tr>
                        <td>

                        </td>
                        <td>
                            {{'User Name' | translate}}
                        </td>
                        <td>
                            {{'Comment' | translate}}
                        </td>
                        <td>
                            {{'Type' | translate}}
                        </td>
                        <td>
                            {{'Page Number' | translate}}
                        </td>
                        <td>

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation; let i = index" (click)="documnetAnnoation(annotation.pageNo , annotation.type);annotationListModel = false;">
                        <td>
                            {{i +1 }}
                        </td>
                        <td>
                            {{annotation.userName}}
                        </td>
                        <td>
                            {{annotation.comment}}
                        </td>
                        <td>
                            {{annotation.type}}
                        </td>
                        <td>
                            {{annotation.pageNo}}
                        </td>
                        <td class="removeClass">
                            <button type="button" pButton icon="ui-icon-visibility" (click)="documnetAnnoation(annotation.pageNo , annotation.type);annotationListModel = false;"></button>
                            <button type="button" pButton icon="ui-icon-close" (click)="deleteAnnotation(annotation);"></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #signHolder identifier="signHolder">
    <h3>{{ 'Add Role' | translate }}</h3>
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class=" ui-grid-row ">
                <div class="ui-grid-col-12 dropdownTop">
                    <p-dropdown [options]="showRoles" [autoWidth]="false" [(ngModel)]="selectedRole" filter="true" optionLabel="label" placeholder="Select Role" (onChange)="roleNamechanged($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="signHolder.close(); selectedSigned = 'select'">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addRole()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">Add</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #addSignaturePad identifier="addSignaturePad" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Add Signature' | translate }}</h3>

        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="closeSignModal($event)"></button>
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <div class="ui-g-7 ui-g-nopad">
            <app-signature-pad #signatureSignAdd [canvasWidth]="460" [canvasHeight]="300" (onEndEvent)="AddSignComplete($event)"></app-signature-pad>
        </div>
        <div class="ui-g-5 ui-g-nopad">
            <div class=" ui-g ui-g-12 ui-g-nopad addBtnTop">
                <div class="ui-g-2 ui-g-nopad"></div>
                <div class="ui-g-4 ui-g-nopad text-right ">

                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="clearSignature();">
                                    <span class="ui-button-icon-left fa fa-close"></span>
                                    <span class="ui-button-text">Clear</span>
                                </button>

                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="savesignature()">
                                <span class="ui-button-icon-left fa fa-check"></span>
                                <span class="ui-button-text">Add</span>
                            </button>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>
<ngx-smart-modal #isAddExistingSignature identifier="isAddExistingSignature" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Confirmation' | translate }}</h3>
        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="closeConfirmed($event)"></button>
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <label>{{'The system will sign the document page with your saved signature. Want to proceed?' | translate}}</label>
    </div>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="isAddExistingSignature.close(); selectedSigned = 'select'">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addedExistingSignature()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">YES</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>