<h1 class="fontWeight">Cookie Policy for Pistaceo</h1>

<p class="customfont">This is the Cookie Policy for Pistaceo, accessible from www.pistaceo.com or you local installation URL</p>

<p><strong>What Are Cookies</strong></p>

<p>As is common practice with almost all professional websites and applications this application uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade certain experience of the application's functionality.</p>

<p>For more general information on cookies see the Wikipedia article on HTTP Cookies.</p>

<p><strong>How We Use Cookies</strong></p>

<p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>

<p><strong>Disabling Cookies</strong></p>

<p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the experience of this application and functionalities of many other websites that you visit. Disabling cookies usually results in disabling certain functionality and features of many sites and applications. Therefore it is recommended that you do not disable cookies.</p>

<p><strong>The Cookies We Set</strong></p>

<ul>

<li>
    <p>Login related cookies</p>
    <p>We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.</p>
</li>

</ul>

<p><strong>Third Party Cookies</strong></p>

<p>We do not use cookies provided by any third parties</p>

<p><strong>More Information</strong></p>

<p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>

<p>However if you are still looking for more information then you can contact us through email:</p>

<ul>
<li>Email: info@hashecm.com</li>

</ul>
