<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-content">
            <div class="ui-g-12">
                <div class="ui-g-12 text-center">
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <img height="100px" src="assets/images/logos/logo.png">
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                </div>
                <div class="ui-g-12 ui-g-nopad" *ngIf="validateToken">
                    <div class="ui-g-4 ui-g-nopad">
                        <label>PIN : </label>
                    </div>
                    <div class="ui-g-7 ui-g-nopad">
                        <input type="password" pInputText class="ui-inputtext ui-corner-all ui-widget" name="first" id="one" [(ngModel)]="uname" pattern="\d{4}">
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="validateToken">
                    <div class="ui-g-4 ui-sm-2"></div>
                    <div class="ui-g-5 ui-sm-9">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left small" (click)="onSubmit(form)">
                                        <span class="ui-button-icon-left fa ui-icon-person"></span>
                                        <span class="ui-button-text">Submit</span>
                                    </button>
                    </div>
                    <div class="ui-g-3"></div>

                </div>
                <div class="ui-g-12 " *ngIf="!validateToken && errorText">
                    <label class="redstar">{{errorText}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner" class="splash-screen ">
    <div class="splash-loader-container ">
        <svg class="splash-loader " width="65px " height="65px " viewBox="0 0 66 66 " xmlns="http://www.w3.org/2000/svg ">
                   <circle class="path " fill="none " stroke-width="6 " stroke-linecap="round " cx="33 " cy="33 " r="30 "></circle>
                </svg>
    </div>
</div>