/* You can add global styles to this file, and also import other style files */

@import "~ngx-smart-modal/ngx-smart-modal";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.pointer {
    cursor: pointer;
}

.compelete-row {
    background-color: #f5f5f5 !important;
}

.active-row {
    background: #fffafa !important;
}

.float-right {
    float: right;
}

.nsm-dialog[class*=nsm-dialog-animation-] {
    transition: transform 500ms ease-in-out, opacity 500ms;
    padding-top: 6%;
}

.nsm-content {
    width: 850px;
}

.overlay {
    left: -20%;
    right: -1%;
}

.large-modal {
    width: 75% !important;
    max-width: 520px !important;
    border-radius: 5px !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(213, 207, 207);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 99, 99);
}

.attachmentClass {
    max-height: 600px;
    overflow-y: auto;
}

#spinner {
    opacity: 0.7;
    z-index: 99999999;
}

input[type="text"][disabled] {
    color: black !important;
    font-weight: 600 !important;
    cursor: no-drop !important;
}

input[type="text"]:read-only {
    color: black;
    font-weight: 600;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.removeClass {
    visibility: hidden;
}

.showRemove:hover .removeClass {
    visibility: visible;
}

thead {
    font-weight: bold !important;
}

body div.ui-widget.ui-tooltip {
    z-index: 900000000000000000000000000000 !important;
}

.width {
    width: 94px;
}

.layout-wrapper .layout-sidebar .layout-menu li>a>.menuitem-text {
    word-break: break-word !important;
}

.ui-datatable .ui-datatable-data tr td {
    padding: .625em .875em;
    word-break: break-all !important;
}

body .ui-panel .ui-panel-titlebar {
    padding: 3.1px !important;
}

body .ui-datatable .ui-paginator {
    padding: 5px !important;
}

body .ui-paginator {
    padding: 5px !important;
}

body .ui-toolbar {
    padding: 4px !important;
}

body .ui-accordion .ui-accordion-header>a {
    padding: 7px !important;
}

.layout-wrapper .layout-main .layout-topbar {
    height: 55px !important;
}

.layout-wrapper .layout-sidebar .sidebar-logo {
    height: 55px !important;
}

.layout-wrapper .layout-main .layout-content {
    padding: 0 !important;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu>li.search-item label {
    margin-top: 10px !important;
}

.utlPosLeft {
    position: absolute;
    z-index: 1000;
    right: 2%;
    font-weight: bold;
    margin-top: 10px;
}

.urlPosRight {
    position: absolute;
    z-index: 1000;
    right: 17%;
    font-weight: bold;
    margin-top: 10px;
}

p.customfont {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
}

h1.fontWeight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.redstar {
    color: red;
}

.center {
    text-align: center !important;
}

.layout-wrapper .layout-sidebar .layout-menu li>a>.menuitem-text:nth-child(2) {
    background: red;
}

.layout-wrapper .layout-sidebar .layout-menu li>a>.menuitem-text {
    word-break: break-word !important;
    background: #7cb342 !important;
    width: 100% !important;
    padding: 10px !important;
    text-align: center !important;
    border-radius: 5px !important;
    font-weight: bold !important;
}

.layout-wrapper .layout-sidebar .layout-menu>li.active-menuitem>a {
    background-color: none !important;
}

.nsm-content {
    width: 500px !important;
}

@media only screen and (max-width: 600px) {
    .nsm-content {
        // width: 282px !important;
        margin-left: 16% !important;
    }
}

@media (max-width: 600px) {
    .login-body .login-panel {
        left: 0;
        margin-left: 0;
        width: 100%;
    }
}

.lds-roller {
    display: inline-block;
    position: absolute !important;
    width: 64px;
    height: 64px;
    left: 48%;
    top: 47%;
}

.layout-wrapper .layout-sidebar .nano .nano-pane .nano-slider {
    background-color: #aaa !important;
    opacity: 0.3 !important;
    filter: alpha(opacity=30);
}

.layout-rtl.layout-wrapper .layout-sidebar .nano .sidebar-scroll-content {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

input.upload {
    position: absolute;
    z-index: 999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
}

.pointer {
    cursor: pointer;
}

input[type=file],

/* FF, IE7+, chrome (except button) */

input[type=file]::-webkit-file-upload-button {
    /* chromes and blink button */
    cursor: pointer !important;
}

.margin_0 {
    margin: 0 !important;
}